<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap = "vendor/autoload.php"
    backupGlobals               = "false"
    colors                      = "false"
 


    processIsolation            = "false"
    stopOnFailure               = "false"
 >

    <testsuites>
        <testsuite name="ProjectTestSuite1">
            <directory>C:/xampp/htdocs/prva/DesignPatternsPHP/Creational/</directory>
        </testsuite>
        <testsuite name="ProjectTestSuite2">
            <directory>C:\xampp\htdocs\prva\DesignPatternsPHP\Behavioral\Iterator\Tests\</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix="Test.php">C:/xampp/htdocs/prva/DesignPatternsPHP/Creational/StaticFactory/Tests/</directory>
            <directory suffix="Test.php">C:\xampp\htdocs\prva\DesignPatternsPHP\Behavioral\Iterator\Tests\</directory>     
        </whitelist>
    </filter>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>

