<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="false" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="ProjectTestSuite1">
      <directory>C:/xampp/htdocs/prva/DesignPatternsPHP/Creational/</directory>
    </testsuite>
    <testsuite name="ProjectTestSuite2">
      <directory>C:\xampp\htdocs\prva\DesignPatternsPHP\Behavioral\</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
  </php>
  <!--
  <source>
    <include>
      <directory suffix="Test.php">C:/xampp/htdocs/prva/DesignPatternsPHP/Creational/StaticFactory/Tests/</directory>
      <directory suffix="Test.php">C:\xampp\htdocs\prva\DesignPatternsPHP\Behavioral\Iterator\Tests\</directory>
    </include>
  </source>
    -->
</phpunit>
